/* ==========================
   Reset e Normalizzazione
   ========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style-type: none;
}

ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

/* Stili di reset o normalizzazione */

/* ==========================
   Globale
   ========================== */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 10.24px;
}

/* Stili globali che si applicano a tutto il documento */

/* ==========================
   Componenti riutilizzabili
   ========================== */
.contenitore {
    margin: 0 auto;
}

button {
    color: white;
    padding: 6px 10px;
    background-color: #0061ff;
}

hr {
    width: 20%;
}

h3 {
    font-size: 25px;
    margin-bottom: 42px;
}

button:hover {
    filter: brightness(1.4);
}

/* Stili per componenti riutilizzabili */

/* ==========================
   Header
   ========================== */
header {
    padding-bottom: 108px;
}

/* ==========================
   Navigazione
   ========================== */

header nav {
    height: 53px;
    display: flex;
    justify-content: space-between;
    color: #464646;
    padding: 0 13px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;
    background-color: white;
}

header nav>div {
    display: flex;
    align-items: center;
}

#logo {
    width: 83px;
    margin-right: 13px;
}

header nav ul {
    display: flex;
    height: 100%;
}

header nav li {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 13px;
}

.menu:hover {
    border-bottom: 2px solid #081753;
    border-top: 2px solid transparent;
}

/* Stili per il menu di navigazione */

/* ==========================
   Jumbotron
   ========================== */
#sfondo {
    margin-top: 53px;
    padding-bottom: 15px;
    background-color: #b4d0e7;
}

header .contenitore {
    width: 790px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: -65px;
}

h1 {
    font-size: 48.83px;
    font-weight: 800;
    width: 100%;
    margin-bottom: 45px;
}

header .sinistra {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.sinistra button {
    padding: 11px;
    margin: 23px 0;
    width: auto;
}

.sinistra i {
    margin-top: 37px;
    font-size: 30px;
}

header .destra {
    width: 70%;
}

/* Stili per il Jumbotron */

/* Stili per l'header del sito */

/* ==========================
   Contenuto Principale
   ========================== */

/* ==========================
   Sezione piani offerte
   ========================== */
section {
    width: 658px;
    margin: 0 auto;
}

main section .contenitore {
    width: 658px;
}

form {
    display: flex;
}

form>* {
    font-size: inherit;
}

form>*:hover {
    cursor: pointer;
}

label {
    margin-right: 33px;
    margin-left: 3px;
}

main section .colonne {
    gap: 32px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 33px;
}

.colonne .colonna {
    border: 1px solid #d0d0d3;
    display: flex;
    flex-direction: column;
    width: calc((100% - 64px) / 3);
}

.colonne .colonna>* {
    margin-left: 20px;
    margin-right: 20px;
}

.colonna .icona {
    border-bottom: 1px solid #d0d0d3;
    padding: 8px 0;
    margin: 0;
    text-align: center;
}

.colonne .colonna:last-child {
    width: 100%;
}

.colonne .colonna .contenitore {
    display: flex;
    padding: 30px;
    width: 100%;
    margin: 0;
}

.colonne .colonna .sinistra {
    width: 70%;
    text-align: left;
    border: none;
}

.sinistra h4 {
    margin: 0;
}

.colonne .sinistra p {
    margin-top: 36px;
}

.colonne .destra {
    width: 30%;
}

.colonne .colonna .destra button {
    margin: 0;
    width: 100%;
}

h4 {
    font-size: 16px;
    margin-top: 25px;
}

h5 {
    font-size: 10.24px;
    margin-top: 17px;
}

h6 {
    font-size: 10.24px;
    margin-top: 13px;
    color: #464646;
    font-weight: 500;
}

ol {
    margin-top: 37px;
}

.colonne .colonna button {
    margin-top: 35px;
    margin-bottom: 24px;
}

main a {
    color: #0061ff;
    text-decoration: underline;
}

.colonna hr {
    margin-top: 27px;
    margin-bottom: 17px;
}

.colonne .colonna ul {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 35px;
    gap: 20px;
}

.colonne .colonna li {
    position: relative;
    margin-left: 12px;
}

.colonne .colonna ul li::before {
    content: "\f00c";
    font-family: FontAwesome;
    color: #0061ff;
    margin-left: -12px;
    position: absolute;
    left: 0;
    top: 2px;
}

.utente::before {
    content: "\f007";
    font-family: FontAwesome;
    margin-left: -12px;
    position: absolute;
    left: 0;
    top: 2px;
}

.cartella::before {
    content: "\f07b";
    font-family: FontAwesome;
    margin-left: -12px;
    position: absolute;
    left: 0;
    top: 2px;
}

.condividi::before {
    content: "\f1e0";
    font-family: FontAwesome;
    margin-left: -12px;
    position: absolute;
    left: 0;
    top: 2px;
}

.partner {
    margin-top: 100px;
    display: flex
}

.partner .colonna {
    width: 50%;
}

.partner .destra {
    padding: 33px;
}

.partner .destra p {
    margin-top: 13px;
}

.partner .destra button {
    background-color: transparent;
    color: #0061ff;
    border: 1px solid currentColor;
    margin-top: 23px;
}

/* Stili per sezione piani offerte */

/* ==========================
   Sezione funzionalità
   ========================== */

#features {
    margin-top: 100px;
}

#features .contenitore {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
}

#features .contenitore .colonna {
    width: calc((100% - 72px) / 3);
}

#features .contenitore .colonna p {
    margin-top: 26px;
}

/* Stili per sezione funzionalità */

/* ==========================
   Sezione clienti
   ========================== */

/* ==========================
   Intestazione clienti
   ========================== */

#clienti {
    width: 100%;
    margin-top: 140px;
}

#clienti>.contenitore {
    margin-bottom: 100px;
}


#clienti>.contenitore h3 {
    width: 70%;
}

#clienti a {
    margin-top: 42px;
}

/* Intestazione clienti */

/* ==========================
   Loghi clienti
   ========================== */

#companies {
    display: flex;
    width: 100%;
    height: 60vh;
    margin: 0 auto;
}

#companies .colonna {
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}

#companies .colonna .logo {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#companies .colonna .logo img {
    filter: invert(1);
}

#companies .colonna img {
    width: 50%;
}

#designit {
    background-color: #a2d39b;
    border: 10px solid #d1e9cd;
}

#arizona {
    background-color: #61082b;
}

#florida {
    background-color: #0093ce;
}

#topps {
    background-color: #ff1c1c;
}

#bicycle {
    background-color: #d5001f;
}

#hearts {
    background-color: #b4d0e7;
}

#lonely {
    background-color: #0d2481;
}

#outdoor {
    background-color: #ffd830;
}

#centrale {
    padding: 33px;
    background-color: #f5f5f5;
    align-content: flex-start;
    overflow-y: auto;
}

#centrale hr {
    margin: 28px 50% 28px 0;
    margin-right: 50%;
    height: 1px;
}

#centrale p {
    margin-bottom: 36px;
}

/* Loghi clienti */

/* ==========================
   Business clienti
   ========================== */
#clienti .sfondo {
    padding: 88px 0;
    background-color: #b4d0e7;
}

#clienti .sfondo .contenitore {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sfondo h3 {
    width: 50%;
    color: #61082b;
    margin: 0;
}

.sfondo button {
    width: 30%;
    background-color: white;
    color: #0061ff;
}

/* Business clienti */

/* Stili per sezione clienti */

/* ==========================
   Sezione domande frequenti
   ========================== */

#domande {
    padding: 100px 0;
}

#domande .contenitore {
    margin-top: 8px;
}

#domande .contenitore .box {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

#domande .contenitore .box .riga {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 28px;
    padding-left: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.box .riga:first-child {
    margin-bottom: -1px;
}

.box .riga:last-child {
    margin-top: -1px;
}

#domande .contenitore .box .riga:hover p {
    display: inline-block;
}

#domande .contenitore .box .riga:hover i {
    transform: rotate(180deg);
}

#domande .contenitore .box .riga h5 {
    margin: 0;
}

#domande .contenitore .box .riga i {
    font-weight: 600;
    line-height: 14.22px;
}

#domande .contenitore .box .riga p {
    width: 100%;
    margin-top: 28px;
    display: none;
}

/* Stili per sezione domande frequenti */

/* Stili per il contenuto principale della pagina */

/* ==========================
   Footer
   ========================== */
footer {
    background-color: black;
    color: white;
    padding-top: 72px;
    padding-bottom: 33px;
}

footer .contenitore {
    width: 790px;
}

footer .contenitore:first-child {
    display: flex;
    justify-content: space-between;
}

footer .contenitore .colonna ul {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

footer hr {
    margin-top: 76px;
    margin-bottom: 56px;
    width: 10%;
}

#lingua {
    color: #999999;
}

#lingua::before {
    content: "\f57d";
    font-family: FontAwesome;
    margin-right: 6px;
    color: currentColor;
}

#lingua::after {
    content: "\f0de";
    font-family: FontAwesome;
    margin-left: 3px;
    color: currentColor;
    vertical-align: -webkit-baseline-middle;
}

/* Stili per il piè di pagina del sito */