/* ==========================
   Reset e Normalizzazione
   ========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

/* Stili di reset o normalizzazione */

/* ==========================
   Globale
   ========================== */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Stili globali che si applicano a tutto il documento */

/* ==========================
   Commenti di Debugging
   ========================== */
/* Commenti utilizzati temporaneamente per il debug */

/* ==========================
   Componenti
   ========================== */
/* Stili per componenti riutilizzabili */

/* ==========================
   Header
   ========================== */

/* ==========================
   Navigazione
   ========================== */

header nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    color: #464646;
    font-size: 12px;
    padding: 0 20px;
}

header nav>div {
    display: flex;
    align-items: center;
}

#logo {
    width: 127px;
    margin-right: 40px;
}

header nav ul {
    display: flex;
    gap: 40px;
}

header nav li {
    display: inline-block;
}

header nav button {
    color: white;
    padding: 10px 16px;
    background-color: #0061ff;
    margin-left: 20px;

}

/* Stili per il menu di navigazione */

/* ==========================
   Jumbotron
   ========================== */
/* Stili per il Jumbotron */

/* Stili per l'header del sito */

/* ==========================
   Contenuto Principale
   ========================== */

/* ==========================
   Sezione piani offerte
   ========================== */
/* Stili per sezione piani offerte */

/* ==========================
   Sezione funzionalità
   ========================== */
/* Stili per sezione funzionalità */

/* ==========================
   Sezione clienti
   ========================== */
/* Stili per sezione clienti */

/* ==========================
   Sezione domande frequenti
   ========================== */
/* Stili per sezione domande frequenti */

/* Stili per il contenuto principale della pagina */

/* ==========================
   Footer
   ========================== */
/* Stili per il piè di pagina del sito */